<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amine.proglearn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".connexion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inscription"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".admin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".enseignant"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".profil"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".accueil" />
        <activity
            android:name=".ajouteensgnent"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".supprimeUnenseignant"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".listeEtudients"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".listeetudientForadmin"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ajouteUnCours"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".suprimeUncours"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".java"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".listComntair"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".php"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".mysql"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".html"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".about"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".oblierMp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>